* {
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}

#rayita {
  border-bottom: 2px solid black;
  width: 170px;
}

.secciones {
  text-align: center;
}

.espacioCoders {
  width: 150px;
  position: relative;
  display: inline-block;
  margin: 30px;
}

.coders {
  width: 150px;
  height: 150px;
}

.bottomRight {
    position: absolute;
    bottom: 0px;
    right: 16px;
    color: #DA81F5;
    font-size: 18px;
}
